@import url('../../../node_modules/@fortawesome/fontawesome-free/css/all.css');
@import url('../../../node_modules/@fortawesome/fontawesome-free/css/all.min.css');
@import url('../../../node_modules/@fortawesome/fontawesome-free/css/brands.css');
@import url('../../../node_modules/@fortawesome/fontawesome-free/css/brands.min.css');
@import url('../../../node_modules/@fortawesome/fontawesome-free/css/fontawesome.css');
@import url('../../../node_modules/@fortawesome/fontawesome-free/css/fontawesome.min.css');
@import url('../../../node_modules/@fortawesome/fontawesome-free/css/regular.css');
@import url('../../../node_modules/@fortawesome/fontawesome-free/css/regular.min.css');
@import url('../../../node_modules/@fortawesome/fontawesome-free/css/solid.css');
@import url('../../../node_modules/@fortawesome/fontawesome-free/css/solid.min.css');
@import url('../../../node_modules/@fortawesome/fontawesome-free/css/svg-with-js.css');
@import url('../../../node_modules/@fortawesome/fontawesome-free/css/svg-with-js.min.css');
@import url('../../../node_modules/@fortawesome/fontawesome-free/css/v4-shims.css');
@import url('../../../node_modules/@fortawesome/fontawesome-free/css/v4-shims.min.css');

.contact { 
    width: 100%;
    background-color: #395fa9;
    padding-top: 1em;
}

.contact h3, .contact p {
    font-family: Arial, Helvetica, sans-serif;
    color: #FFF;
}

.contact p i {
    padding-left: 1em;
    padding-right: 1em;
}

.contact form textarea {
    resize: none;
}

.contact form button[type='submit'] {
    font-family: Arial, Helvetica, sans-serif;
    color: #FFF;
}